.navbar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    background-color: #24252a;
    color: white;
    padding: 10px 5%;
}

.brand-title {
    font-size: 1.5rem;
    margin-right: auto !important;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.brand-title:hover{
    transition: all 0.3s ease 0s;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    font-weight: 500;
}

.navbar-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.user {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    padding: 5px;
    cursor: pointer;
}

.user:hover {
    color: #0088a9;
}

.user p {
    margin-bottom: 0px;
    align-self: center;
    padding-left: 5px;
}

.toggle-button {
    position: absolute;
    top: .80rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 10px;
    margin-right: 3%;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.toggle-button .bars {
    height: 3px;
    width: 100%;
    background-color: #0088a9;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .user {
       margin-left: 0px;
       margin-top: 40px;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}